.DS_Store
node_modules
.tmp
.idea

app/css/app.css
app/js/app.js
builds/development/images/**
*.svg
*.jpg
images/
*.docx
app/css
app/data
app/images
ap/js
app/pdf
app/retro-assets
app/.ftpquota
app/*.txt
app/.htaccess
app/codebymick.com.html
*.zip
*.ico
