#projects{
  &.page{
    padding:0;
  }
  .container{
    width: 100vw;
    padding-left:0;
    padding-right:0;
    .openprojectmodal{
      cursor: pointer;
    }
    .project-row{
      div{
        align-self:center;
        padding-left:0;
        padding-right:0;
        position:relative;
        .content-wrapper{
          //pointer-events: none;
          opacity:0;
          padding:10%;
          position: absolute;
          top: 0;
          left: 0;
          &.visible{
            opacity:1;
          }
        }
        img{
          background-color: white;
          transition:opacity .5s linear;
          width: 100%;
          opacity:1;
          &:hover{
            opacity: .5!important;
          }
        }
      }
    }
  }

}

