.snackbar{
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom : 0;
  pointer-events: none;
  .container{
    width: 90%;
    max-width: 600px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    #widescreen, #ie{
      opacity: 0;
    }
    @media screen and (orientation:portrait) {
      #widescreen{
        opacity: 1;
      }
    }
    .close{

    }
  }
}
